body {
    background-color: #1b1b1b;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    color: #f9f9f9;
}

h2 {
    font-size: 1.6rem;
    text-align: center;
    color: #fff5ee;
    text-shadow: 0 0 2px #fafad2;
}

header > img {
    width: 40%;
    display: block;
    margin: 5% auto;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    background-color: #f9f9f9;
    padding: 1.3rem;
}

nav a {
    flex: 1;
    font-size: 1.6rem;
    padding: 1.3rem;
    text-decoration: none;
    border-radius: 4%;
    color: #1b1b1b;
}

nav a:hover {
    box-shadow: 0 0 20px #1b1b1b;
    transition: 0.3s;
}

section {
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
}

.promotion {
    flex-wrap: nowrap;
    height: 60vh;
    background-image: url(promotion.jpg);
    background-attachment: scroll;
    box-shadow: none;
    border-bottom: 1px solid #f9f9f9;
}

.promotion p {
    color: #f9f9f9;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0 0 5px #fff5ee;
}

.promotion h1 {
    text-align: center;
    text-shadow: 0 0 5px #fff5ee;
    animation: promotion 1.5s;
}

@keyframes promotion {
    0% {
        transform: scale(0);    
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1) rotateX(360deg);
    }
}

article {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    box-shadow: 0 0 5px #f9f9f9;
}

.item img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.item p {
    color: #fff5ee;
    text-align: center;
    font-size: 1rem;
}

#paragraph {
    color: #fafad2;
    text-shadow: 0 0 2px #fafad2;
    font-size: 1.1rem;
}

.item:hover {
    transform: scale(1.1);
    box-shadow:  0 0 10px #f9f9f9;
    cursor: pointer;
    transition: 0.5s;
}

footer {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    border-top: 1px solid #f9f9f9;
}

footer div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
    margin: 1rem;
}

div img {
    width: 25%;     
    padding: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 5px #f9f9f9;
}

#location {
    text-align: center;
}

div p {
    color: #f9f9f9;
}